---
import Layout from "../layouts/Layout.astro";

const meta = {
  title: "My Origin Blog",
  description: "My Origin Blog",
  keywords: "My Origin Blog",
  url: "https://my-origin-blog.com",
  image: "https://my-origin-blog.com/ogp.jpg",
};

/** api */
import {
  getAllBlogs,
  getBlogsDetail,
} from "../repositories/microcmsRepository";

/** utils */
import { formatDate } from "../util/formatDate";

const { blogId } = Astro.params;
let blogData: any = null;

if (blogId) {
  blogData = await getBlogsDetail(blogId);
}

export async function getStaticPaths() {
  const res = await getAllBlogs({ fields: ["id"] });
  return res.contents.map((content) => {
    return {
      params: {
        blogId: content.id,
      },
    };
  });
}

const imageUrl = typeof blogData.url === 'object' ? blogData.url.src || blogData.url.url || '' : blogData.url;

---

<Layout meta={meta}>
  <main>
    <h1>{blogData.title}</h1>
    <figure>
      <img src={imageUrl} alt={blogData.title} />
    </figure>
    <p>
      投稿日：{new formatDate(blogData.revisedAt).toJpDateWithWeek()}
    </p>
    <div set:html={blogData.contents} />
  </main>
</Layout>

<style>
  main {
    max-width: 1000px;
    margin: 20px auto 0;
  }
  figure {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  p {
    margin-top: 20px;
  }
  div {
    margin-top: 20px;
  }
</style>